*.aps
*.bak
*.cache
*.DS_Store
*.exe
*.ilk
*.lib
*.log
*.ncb
*.nib
*.obj
*.pch
*.pdb
*.pfx
*.pidb
*.sbr
*.sln.docstates
*.suo
*.swp
*.tlb
*.tlh
*.user
*.user*
*.userprefs
*.vspscc
*/*/*/bin/*
*/*/*/obj/*
*/*/bin/*
*/*/obj/*
*/bin/*
*/obj/*
*_i.c
*_p.c
*_ReSharper.*/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
_UpgradeReport_Files*/
AppPackages*/
obj/
packages/
Thumbs.db
UpgradeLog.*
