#Autosave files
*~

# Build/test output
obj
bin
test-results

# VS sometimes writes these for no apparent reason
_UpgradeReport_Files
UpgradeLog.*

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

*.aps
*.bak
*.cache
*.DS_Store
*.exe
*.ilk
*.lib
*.log
*.ncb
*.nib
*.obj
*.pch
*.pdb
*.pfx
*.pidb
*.sbr
*.sln.docstates
*.suo
*.swp
*.tlb
*.tlh
*.user
*.user*
*.userprefs
*.vspscc
*/*/*/bin/*
*/*/*/obj/*
*/*/bin/*
*/*/obj/*
*/bin/*
*/obj/*
*_i.c
*_p.c
*_ReSharper.*/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
_UpgradeReport_Files*/
AppPackages*/
obj/
packages/
Thumbs.db
UpgradeLog.*
